.bg-light-blue{
    background: $color-0;
}

.bg-white{
    background: #fff;
}

.left-bg{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: $color-0;
}

.login-container{
    width: 448px;
    // max-width: $mobile-vp;
}


.check-box{
    height: 14px;
}

.sign-btn{
    padding: 0.5em 1em;
    border: none;
    text-transform: uppercase;
    background-color: $mylan-color;
    color: white;
    border-radius: 12px;
}

.bg-blur{
    filter: blur(6px);
    -webkit-filter: blur(8px);
}

.lr{
    background: linear-gradient(to bottom right, #003be4 , $color-0);
}

.r-lr{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
